main h1 {
  background-image: none;
  -webkit-text-fill-color: rgb(236, 82, 66);
  font-size: calc(1.425rem + 2.1vw);
  padding-bottom: 1.5rem;
  font-weight: 700;
}

main h2:nth-last-child(2) {
  color: #3d3d3d;
  font-weight: 300;
}

p:nth-last-child(3) {
  background-color: #f7f7f7;
  font-size: 20px;
  color: #5e5e5e;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

main h3 a {
  font-weight: 700;
  color: #3d3d3d;
  text-align: center;
}

@media (max-width: 300px) {
    main h3 a {
        font-size: 20px;
        font-weight: 500;
    }
}

