* {
  margin: 0;
  padding: 0;
}

header {
  height: 10vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #efefef;
}

nav {
  width: 100%;
  padding-left: 30px;
  display: inherit;
  flex: 1 1;
}

nav ul {
  display: none;
}

ul li {
  display: inline-block;
  list-style-type: none;
  margin: 3px;
}

a {
  text-decoration: none;
}

header nav a {
  display: flex;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  color: rgb(115, 115, 115);
  font-size: 18px;
  line-height: 24px;
  width: 50%;
}

header nav .icon {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 40px;
  height: 40px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/694/632/non_2x/abstract-technology-particle-gray-background-vector.jpg);
  background-size: cover;
}

main h2 {
  color: #ec5242;
  font-size: 25px;
  margin: 70px 0  30px 0;
}

main h1 {
  background-image: url("https://cdn.theatlantic.com/thumbor/M7Xfc2XUVf20t_4L40FqewChFcw=/0x203:3888x2390/720x405/media/img/mt/2016/09/AP_090827085227/original.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(236, 82, 66, 0.7);
  font-size: calc(1.425rem + 2.1vw);
  padding-bottom: 1.5rem;
  font-weight: 700;
}

p:nth-last-child(2) {
  background-color: #f7f7f7;
  font-size: 20px;
  color: #5e5e5e;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

p:nth-last-child(1) {
  font-size: calc(1.325rem + 0.9vw);
  margin: 0.5rem;
  font-weight: 200;
}

.offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://t4.ftcdn.net/jpg/02/00/68/69/360_F_200686969_GJ7zbz2qaNIE4dyHSbZkQXvNPzRuwlr3.jpg);
}

.offers * {
  color: white;
}

.offers .title {
  padding: 40px;
}

.title h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.title hr {
  background-color: #ec5242;
  height: 2px;
  border: none;
  opacity: 1;
  width: 5rem;
  margin: auto;
}

.offers .card-work {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #3c3f46;
  margin: auto 10% 20px 10%;
}

.card-work .card-icon {
  flex: 1 10%;
  font-size: 30px;
}

.card-work .card-head {
  flex: 1  30%;
  font-size: 30px;
  color: #ec5242;
}

.card-work .card-descrep {
  flex: 3  60%;
}

@media (max-width: 500px) {
  .card-work {
    flex-wrap: wrap;
  }

  .card-work .card-icon {
    font-size: 20px;
  }

  .card-work .card-head {
    font-size: 20px;
  }

  .card-work .card-descrep {
    font-size: 20px;
  }
}

.join {
  width: 100%;
  display: flex;
  justify-content: center;
}

.join button {
  font-size: 30px;
  color: white;
  background-color: #ec5242;
  width: 70%;
  height: 100px;
  border: none;
  outline: none;
  margin: 30px auto;
}

.instructors .title h2 {
  color: #484b52;
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners .line-break {
  background-color: #ec5242;
  height: 2px;
  border: none;
  opacity: 1;
  width: 5rem;
  margin: auto;
}
